.activity {
  margin-top: 20px;
  border-radius: 16px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #222227;
}
.activity__cover {
  width: 100px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.activity__cover img {
  width: 100%;
}
.activity__content {
  width: calc(100% - 120px);
  margin-left: 20px;
}
.activity__title {
  display: block;
  width: 100%;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
  transition: color 0.5s ease;
}
.activity__title a {
  color: #fff;
}
.activity__title a:hover {
  color: #3772ff;
}
.activity__title:hover {
  color: #3772ff;
}
.activity__text {
  font-size: 16px;
  line-height: 26px;
  color: #bdbdbd;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}
.activity__text a {
  color: #fff;
  font-weight: 500;
}
.activity__text a:hover {
  color:  #3772ff;
}
.activity__text b {
  font-weight: 500;
  color: #fff;
}
.activity__time {
  font-size: 14px;
  color: #bdbdbd;
}
@media (min-width: 576px) {
  .activity__cover {
    width: 120px;
  }
  .activity__content {
    width: calc(100% - 140px);
  }
}
@media (min-width: 768px) {
  .activity {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .activity__cover {
    width: 140px;
  }
  .activity__content {
    width: calc(100% - 160px);
  }
}