.collection {
  margin-top: 20px;
  border-radius: 16px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.collection__cover {
  width: 100%;
  height: 110px;
  background-color: #222227;
}
.collection__meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 20px 20px;
  background-color: #16151a;
  border-radius: 0 0 16px 16px;
  border: 1px solid #222227;
}
.collection__avatar {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 16px;
  margin-top: -30px;
  margin-bottom: 10px;
  position: relative;
}
.collection__avatar img {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #16151a;
}
.collection__avatar--verified:after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  bottom: -2px;
  right: -2px;
  border-radius: 50%;
  background: url("../../assets/img/verified.svg") no-repeat center #2f80ed;
  background-size: 14px auto;
  z-index: 1;
  pointer-events: none;
}
.collection__name {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}
.collection__name a {
  color: #fff;
}
.collection__name a:hover {
  color:  #3772ff;
}
.collection__number {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #bdbdbd;
  font-weight: 400;
}
@media (min-width: 768px) {
  .collection {
    margin-top: 30px;
  }
}